.sticky {
    display: block;
}

.hentry {
    margin: 0;;
}

.byline,
.updated:not(.published){
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    @include rem(margin, 15px 0 0);
}

.page-links {
    clear: both;
    @include rem(margin, 0 0 15px);
}

.container {
    @include outer-container;
    @include rem(padding, 0 20px);
}
.row {
    @include row;
}
.table {
    display: table;
    width: 100%;
    height: 100%;
}
.cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    &.top {
        vertical-align: top;
    }
    &.middle {
        vertical-align: middle;
    }
    &.bottom {
        vertical-align: bottom;
    }
}

.grid {

    .column {
        margin-bottom: 25px;
    }

    .quarter {
        @include span-columns(1);

        @include media ($medium-screen-up) {
            @include span-columns(2.25);
        }

         @include media ($large-screen-up) {
            @include span-columns(3);
        }

    }    

    .three-quarters {
        @include span-columns(1);

        @include media ($medium-screen-up) {
            @include span-columns(6.75);
        }

         @include media ($large-screen-up) {
            @include span-columns(9);
        }

    }

    .half {
        @include span-columns(1);

        @include media ($medium-screen-up) {
            @include span-columns(4.5);
        }

         @include media ($large-screen-up) {
            @include span-columns(6);
        }

    }

    .third {
         @include span-columns(1);

        @include media ($medium-screen-up) {
            @include span-columns(3);
        }

         @include media ($large-screen-up) {
            @include span-columns(4);
        }
    }

    .two-thirds {
         @include span-columns(1);

        @include media ($medium-screen-up) {
            @include span-columns(6);
        }

         @include media ($large-screen-up) {
            @include span-columns(8);
        }

    }

}